html {
  font: 96px Courier;
  color: white;
}

.box {

  position: relative;
}
.even {
	background-color: #4985e5;
}

.odd {
	background-color: #e02626;
}

.layer:nth-of-type(1) {
	display: block;
	width: 100px;
	margin:auto;

}

.layer:nth-of-type(2) {
	display: block;
	width: 200px;
	margin:auto;

}

.layer:nth-of-type(3) {
	display: block;
	width: 300px;
	margin:auto;

}

.layer:nth-of-type(4) {
	display: block;
	width: 420px;
	margin:auto;

}

.box {
	width: 130px;
	height: 100px;
	display: inline;
	text-align: center;
}